<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/registry.css">
    <link rel="stylesheet" type="text/css" href="../css/chat.css">
    <title>Empathy Space Main</title>
</head>
<body>
<div class="main">
    <div class="background_container">
        <img src="../backgroundImg/EmpathySpaceBackground.jpg" width="100%" alt="BackGround Image">
    </div>
    <div class="logo">
        <a class="logo-link logo-link-a" href="#" onclick="top.location='javascript:location.reload()'" >A</a>
        <a class="logo-link logo-link-d" href="#" onclick="top.location='javascript:location.reload()'" >D</a>
        <a class="logo-link logo-link-m" href="#" onclick="top.location='javascript:location.reload()'" >M</a>
        <a class="logo-link logo-link-e" href="#" onclick="top.location='javascript:location.reload()'" >E</a>
    </div>
    <nav class="nav-bar">
        <div class="nav-container adme-font" style="padding-top: 1vw;">
            <a href="#" id="my_record">My Record</a>
            <a href="#" id="everyone_record">Everyone's Record</a>
            <a href="#" id="empathy_space">Empathy Space</a>
        </div>
    </nav>
    <div class="side-board-container">
        <p class="side-board-mark adme-font">A spoonful of emotion</p>
        <div class="side-board-box">
<!--            <div class="side-board-item adme-scale-animation" onclick="boardModal()">-->
<!--                <div class="side-board-item-title">여기는 사이드 내용입니다. 내용이 생략되면 </div>-->
<!--            </div>-->
<!--            <div class="side-board-item adme-scale-animation" onclick="boardModal()">-->
<!--                <div class="side-board-item-title">여기는 사이드 내용입니다.</div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="board-container">
<!--        <div class="board-item adme-scale-animation" onclick="boardModal()">-->
<!--            <div class="board">제목입니다. 이 게시글은 일부러 길게 작성하였습니다. 넘치는 줄은 어떻게 처리해야할지 확인해야 하기 때문이죠.</div>-->
<!--        </div>-->
<!--        <div class="board-item adme-scale-animation" onclick="boardModal()">-->
<!--            <div class="board" >내용입니다.</div>-->
<!--        </div>-->
    </div>
    <div class="pagination">
        <div class="paging adme-font" style="font-size: 1.3vw;">
            <div><a href="#">&lt;</a></div>
            <div><a href="#">1</a></div>
            <div><a href="#">2</a></div>
            <div><a href="#">3</a></div>
            <div><a href="#">4</a></div>
            <div><a href="#">5</a></div>
            <div><a href="#">&gt;</a></div>
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-image">
            <img src="" alt="Profile Image">
        </div>
        <div class="user-nickname">
            <h3 class="nickname adme-font"></h3>
        </div>
    </div>
    <div class="logout-button">
        <button class="logout adme-font" onclick="logout()">Logout</button>
    </div>
    <div class="board-modal-container" id="board-Modal">
        <div class="board-modal-content">
            <div class="board-box">

                <button class="board-box-close" onclick="boardClose()">&#10060;</button>
                <div class="board-title"></div>
                <div class="board-info">
                    <div class="board-user-nickname"></div>
                    <div class="board-date"></div>
                </div>
                <div class="board-content" style="margin: .5vw 0 .5vw 0">
                    <textarea readonly></textarea>
                </div>
                <div class="line" style="border: .5px solid #5F0603; margin-bottom: .5vw"></div>
                <div class="board-comment-container">
                    <div class="board-comment-title-item">Add a Comment</div>
                    <div class="board-comment-writing-container">
                        <textarea class="board-comment-writing-box-item" placeholder="Comment"></textarea>
                        <button class="board-comment-btn board-comment-save" onclick="comment()">SAVE</button>
                    </div>
                </div>
                <div class="board-comments-box">
<!--                    <div class="line" style="border: .1px dashed rgba(131,128,128,0.18);"></div>-->

<!--                    <div class="board-comments-item" id="commentId-539">-->
<!--                        <div class="board-comment-left-item">-->
<!--                            <div class="board-comments-userNickname">&#9989; userA</div>-->
<!--                            <div class="board-comments-item-date">2023.03.20 10:07</div>-->
<!--                            <div class="board-comment" id="comment-1">comment-1 댓글입니다.</div>-->
<!--                            <textarea class="board-comment-modify-box"></textarea>-->
<!--                        </div>-->
<!--                        <div class="board-comment-right-item">-->
<!--                            <button class="board-comment-btn board-comment-delete" onclick="checkDelete(539)">DELETE</button>-->
<!--                            <button class="board-comment-btn board-comment-modify" onclick="updateCommentBtn(539)">Modify</button>-->
<!--                            <button class="board-comment-btn board-comment-modify-save" onclick="afterUpdateComment(539)">SAVE</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="line" style="border: .1px dashed rgba(131,128,128,0.18);"></div>-->

<!--                    <div class="board-comments-item">-->
<!--                        <div class="board-comment-left-item">-->
<!--                            <div class="board-comments-userNickname">userA</div>-->
<!--                            <div class="board-comments-item-date">2023.03.20 10:07</div>-->
<!--                            <div class="board-comment">댓글입니다.</div>-->
<!--                        </div>-->
<!--                        <div class="board-comment-right-item">-->
<!--                            <button class="board-comment-btn board-comment-delete" onclick="checkDelete(539)">DELETE</button>-->
<!--                            <button class="board-comment-btn board-comment-modify" onclick="updateCommentBtn(539)">Modify</button>-->
<!--                            <button class="board-comment-btn board-comment-modify-save" onclick="afterUpdateComment(539)">SAVE</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="line" style="border: .1px dashed rgba(131,128,128,0.18);"></div>-->

<!--                    <div class="board-comments-item">-->
<!--                        <div class="board-comment-left-item">-->
<!--                            <div class="board-comments-userNickname">userA</div>-->
<!--                            <div class="board-comments-item-date">2023.03.20 10:07</div>-->
<!--                            <div class="board-comment">댓글입니다.</div>-->
<!--                            <textarea class="board-comment-modify-box"></textarea>-->
<!--                        </div>-->
<!--                        <div class="board-comment-right-item">-->
<!--                            <button class="board-comment-btn board-comment-delete" onclick="checkDelete(539)">DELETE</button>-->
<!--                            <button class="board-comment-btn board-comment-modify" onclick="updateCommentBtn(539)">Modify</button>-->
<!--                            <button class="board-comment-btn board-comment-modify-save" onclick="afterUpdateComment(539)">SAVE</button>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>


    <button id="openChat" class="btn btn-special fixed" onclick="openChat()">
        Chat
        <div class="badge">0</div>
    </button>
    <div id="chat-container" class="fixed">

        <div class="header">
            <div>
                <button id="back" class="btn btn-round btn-icon hidden" onclick="backChat()">back
                    <i class="fa fa-chevron-left"></i>
                </button>
                <span class="title">Adme 채팅</span>
            </div>
            <button id="closeChat" class="btn btn-round btn-icon" onclick="closeChat()">X
                <i class="fa fa-times"></i>
            </button>
        </div>

        <div class="wrapper">
            <div class="list">
                <input type="text" class="search" placeholder="&#xF002; Search" style="height: 20%">
                <div class="conversations">
                </div>
            </div>

            <div class="chat close">
                <div class="body">
                </div>

                <div class="footer">
                    <div class="actions">
						<textarea id="message-input" class="auto-expand input" rows="1" data-min-rows="1"
                                  placeholder="Write message"></textarea>
                        <div class="send" id="sendButtonType">

                        </div>
                    </div>

                </div>
            </div>


            <div class="drawer close" style="display: none">
                <button class="btn btn-round btn-icon" onclick="closeDrawer()">closeDrawer
                    <i class="fa fa-times"></i>
                </button>

                <!--			options -->
                <div class="users">
                    <h2>Users</h2>
                    <div class="mentions">
                        <div class="pill">
                            <img src="http://cranesafeservices.com.au/wp-content/uploads/2016/09/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg">
                            <span>adme</span>
                        </div>
                        <div class="pill">
                            <img src="http://cranesafeservices.com.au/wp-content/uploads/2016/09/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg">
                            <span>User</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="msgStack"></div>
</div>
<script src="../js/global.js"></script>
<script src="../js/alarm.js"></script>
<script src="../js/chat.js"></script>
<script src="../js/registry.js"></script>
</body>
</html>