<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/registry.css">
    <title>Empathy Space Upload</title>
</head>
<body>
<div class="main">
    <div class="background_container">
        <img src="../backgroundImg/EmpathySpaceUploadBackground.jpg" width="100%" alt="BackGround Image">
    </div>
    <div class="logo">
        <a class="logo-link logo-link-a" href="#" onclick="top.location='javascript:location.reload()'" >A</a>
        <a class="logo-link logo-link-d" href="#" onclick="top.location='javascript:location.reload()'" >D</a>
        <a class="logo-link logo-link-m" href="#" onclick="top.location='javascript:location.reload()'" >M</a>
        <a class="logo-link logo-link-e" href="#" onclick="top.location='javascript:location.reload()'" >E</a>
    </div>
    <nav class="upload-nav-bar">
        <div class="nav-container adme-font">
            <a>Share Your Emotion</a>
        </div>
    </nav>
    <div class="empathy-upload-container">
        <div class="direction">
            <div class="item-property adme-font">Title : </div>
            <input id="empathy-upload-title" type="text" maxlength="30" placeholder="게시물 제목">
        </div>
        <div class="empathy-upload-content direction">
            <div class="item-property adme-font">Content : </div>
            <textarea placeholder="내용을 적어주세요."></textarea>
        </div>
    </div>
    <div class="empathy-upload-button">
        <button class="empathy-upload adme-font" onclick="saveArticle()">Upload</button>
    </div>
    <div class="profile-container">
        <div class="profile-image">
            <img src="" alt="Profile Image">
        </div>
        <div class="user-nickname">
            <h3 class="nickname adme-font">user_123456</h3>
        </div>
    </div>
    <div class="logout-button">
        <button class="logout adme-font" onclick="logout()">Logout</button>
    </div>
</div>
<script src="../js/registry-config.js"></script>
<script src="../js/global.js"></script>
</body>
</html>