#wr{
    justify-content: center;
    align-items: center;
    display: flex;
    width:948px;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

body {
    background: linear-gradient(70deg, rgba(132, 204, 222, 0.76), #eee5ca);
    font-family: "Roboto";
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}

.menu {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 460px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li.icon {
    flex-basis: 25%;
}
.m1 {
    /*box-shadow: 0 0 10px rgba(195, 250, 245, 0.87);*/
    box-shadow: 0 0 3px antiquewhite;
    background-color: rgba(213, 237, 255, 0.78);
    width: 1000px;
    height: 65px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}
.m11 {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: .25rem;
    padding: .8rem 5.57rem;
    text-decoration: none;
    font-weight: bold;
    color: rgba(175, 209, 250, 0.78);
}
.m11:hover {
    color: rgba(98,150,241,0.87);
}

.container {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 360px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}

.c1 {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 980px; /* 980 */
    height: 760px; /*760px*/
    border: 10px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}

.c1-comment {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 940px; /* 980 */
    height: 324px; /*760px*/ /*760-306-15 760-321= 439 15*/
    border: 7px solid #D5EDFFC6;
    padding-top : 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
}
.c1-comment-add {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 940px; /* 980 */
    height: 60px;
    border: 7px solid #D5EDFFC6;
    padding-top : 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
}

