body {
    background-color: #282828;
    /*background-image: url("s3에 올린 배경 이미지 주소 입력");*/
}
a {
    text-decoration-line: none; /*링크 밑줄효과 제거*/
}
.background_container>img {
    pointer-events: none; /* 배경 이미지에 대한 마우스 효과 제거 */
}

/*호버효과 적용*/
.logo-link:hover {
    font-size: 4.5vw;
    color: #F0E6B4;
}

/* 메뉴 바 설정 */
.nav-bar {
    position: absolute;
    width: 54vw;
    height: 4vw;
    top: 3.3vw;
    left: 50%;
    transform: translate(-50%, 0%); /*중앙으로 잡아주면 box 의 앞부분 기준으로 box 의 절반만큼 위치 보정*/

    background-color: #F0E6B4;
    border-radius: 8px;
}
.nav-container {
    display: flex; /*가로정렬*/
    justify-content: space-around; /*가로 크기에 맞게 정렬*/
    padding-top: 0.5vw;

    font-size: 2vw;
}
.nav-container>a {
    color: #282828;
}
.nav-container>a:hover {
    color: darkred;
}

/* 비디오 목록 설정 */
.video-container {
    /*border: 1px solid white; */
    position: absolute;
    top: 11vw;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 54vw;
    height: 35vw;

    display: grid; /*바둑판으로 칸 나누기*/
    grid-template-columns: repeat(4, 1fr); /*가로 4칸 간격은 1fr로 일정*/
    grid-template-rows: repeat(3, 1fr); /*세로 3칸 간격은 1fr로 일정*/
    gap: 1vw 0; /*열 간격: 1vw 행간격: 0*/
}
.video-item {
    /*border: 1px solid black;*/
    padding: 0.7vw;
}
.video-thumbnail {
    width: 12vw;
    height: 6.75vw;
    border: 0.05vw solid #382b22;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0.3vw 0.3vw 0.3vw #382b22;

    overflow: hidden; /*크기 초과시 숨김*/
    cursor: pointer; /*마우스 올려놓으면 포인터로 변경*/
}
.video-title {
    /*border: 1px solid black;*/
    width: 11.5vw;
    height: 2.5vw;
    margin: auto;
    padding-top: 0.5vw;

    color: #F0E6B4;
    white-space: nowrap; /*한줄로 모든 글 표시*/
    overflow: hidden; /*크기 초과시 숨김*/
    text-overflow: ellipsis; /*초과하는 부분 ... 으로 표시*/
}
.video-title>a {
    text-decoration-line: none; /*링크 밑줄효과 제거*/
    color: #F0E6B4;
    font-size: 1.3vw;
}
.title:hover {
    color: aliceblue;
}

/*paging button*/
.pagination {
    /*border: 1px solid white;*/
    width: 15vw;
    position: absolute;
    top: 48vw;
    left: 42.5vw;
}
.paging {
    width: 15vw;

    display: flex;
    justify-content: space-around;
}
.paging>div>a {
    text-decoration-line: none;
    color: #D2A55A;
}
.paging>div>a:hover {
    color: white;
}

/* 메뉴 바 설정 */
.video-Recording {
    position: absolute;
    height: 4vw;
    top: 3.3vw;
    left: 50%;
    transform: translate(-50%, 0%); /*중앙으로 잡아주면 box 의 앞부분 기준으로 box 의 절반만큼 위치 보정*/

    font-size: 2.5vw;
    color: #F0E6B4;
}

/* 비디오 수정 항목 설정 */
.upload-container {
    /*border: 1px solid white;*/
    position: absolute;
    top: 10.2vw;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 54vw;
    height: 34vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 3vw;
}
.direction {
    display: flex;
    margin-left: -5vw;
}
.item-property {
    width: 11vw;
    font-size: 2.3vw;
    color: #F0E6B4;
    text-align: right;
    padding-right: 1vw;
}

/*입력칸 디자인*/
.direction>input {
    width: 27vw;
    height: 2vw;
    margin-top: 0.8vw;

    background-color: #efe0a5;
    border: none;
    border-radius: 0.6vw;
    outline: none;

    text-align: left;
    padding-left: 0.5vw;
    font-size: 1vw;
}
.direction>input[type=file] {
    font-size: 0.8vw;
}
.direction>input[type=file]::file-selector-button {
    width: 4vw;
    height: 1.3vw;
    background-color: #9C580B;
    margin-top: 0.33vw;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.direction>input[type=file]::file-selector-button:hover {
    background-color: #eacb4e;
    color: #282828;
    cursor: pointer;
}
.direction>textarea {
    width: 26.5vw;
    height: 10.6vw;
    margin-top: 0.8vw;
    padding-top: 0.5vw;
    padding-right: 0.5vw;
    resize: none; /*박스 크기조절 불가*/
    line-height: 1.4vw; /*상하 줄간격*/

    background-color: #efe0a5;
    border: none;
    border-radius: 0.6vw;
    outline: none;

    text-align: left;
    padding-left: 0.5vw;
    font-size: 1vw;
}

/*Save button*/
.upload-button {
    margin: 0.85vw 0 0 27vw
}
.upload-button:hover {
    margin: 0.70vw 0 0 27vw
}
.upload-button:active {
    margin: 1.3vw 0 0 27vw
}
.upload {
    width: 7.7vw;
    height: 2vw;

    background-color: #ECEADE;
    border: 1px solid #A8A79D;
    border-radius: 0.7vw;
    box-shadow: 0 0.4vw 0.02vw -0.02vw #C7C7BB;

    font-size: 1.3vw;

    cursor: pointer;
}
.upload:hover {
    background-color: ghostwhite;
    box-shadow: 0 0.55vw 0.02vw -0.02vw #C7C7BB;
}
.upload:active {
    box-shadow: 0 0.05vw 0.02vw -0.02vw #C7C7BB;
}

/*Save button*/
.save {
    width: 7.7vw;
    height: 2vw;

    background-color: #ECEADE;
    border: 1px solid #A8A79D;
    border-radius: 0.7vw;
    box-shadow: 0 0.4vw 0.02vw -0.02vw #C7C7BB;

    font-size: 1.3vw;

    cursor: pointer;
}
.save:hover {
    background-color: ghostwhite;
    box-shadow: 0 0.55vw 0.02vw -0.02vw #C7C7BB;
}
.save:active {
    box-shadow: 0 0.05vw 0.02vw -0.02vw #C7C7BB;
}

/*profile*/
.profile-container {
    /*border: 1px solid black;*/
    position: absolute;
    width: 10vw;
    height: 12.5vw;
    top: 21vw;
    left: 83.6vw;
}
.profile-image {
    border: 1px solid black;
    background-color: white;
    width: 8vw;
    height: 8vw;
    margin: 0.8vw auto; /*위 간격: 0.8vw, 가로간격: 자동(중양정렬)*/

    border-radius: 1vw;
    overflow: hidden;
}
.profile-image>img {
    /*border: 1px solid black;*/
    border-radius: 1.3vw;
}
.user-nickname {
    margin-top: 1.3vw;
}
.nickname {
    text-align: center; /*글자 중앙정렬*/
    font-size: 1.3vw;
}

/*logout button*/
.logout-button {
    position: absolute;
    top: 36.5vw;
    left: 84.9vw;
}
.logout-button:active {
    top: 36.8vw;
}
.logout {
    width: 7.7vw;
    height: 2.2vw;

    background-color: #ECEADE;
    border: 1px solid #A8A79D;
    border-radius: 0.7vw;
    box-shadow: 0 0.4vw 0.02vw -0.02vw #C7C7BB;

    font-size: 1.3vw;

    cursor: pointer;
}
.logout:hover {
    background-color: whitesmoke;
}
/*마우스 좌클릭 유지시 효과*/
.logout:active {
    box-shadow: 0 0.1vw 0.02vw -0.02vw #C7C7BB; /*그림자 설정: 가로위치/ 세로위치/ 번짐정도/ 크기/ 색상*/
}

/*Modal*/
.modal-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.35);
}
.modal-content {
    position: absolute;
    top: 12.5vw;
    left: 50%;
    width: 38.4vw;
    height: 33vw;

    background-color: #282828;
    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw .3vw 0 rgba(0, 0, 0, 0.7);

    transform: translateX(-50%);
}
.modal-box {
    width: 95%;
    height: 100%;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}
/*모달 게시물 제목*/
.modal-title {
    text-align: center;
    width: 90%;
    height: 1.6vw;
    padding-top: .6vw;
    margin: auto;
    font-size: 1.5vw;

    white-space: nowrap; /*한줄로 모든 글 표시*/
    overflow: hidden; /*크기 초과시 숨김*/
    text-overflow: ellipsis; /*초과하는 부분 ... 으로 표시*/
}
/*모달 영상 영역*/
.video-file {
    height: 57%;
    padding-top: .3vw;
}
.video-box {
    display: flex;
}
.video-file-box {
    width: 33vw;
    height: 18.5625vw;
    /*border: 1px solid white;*/
    border-radius: .3vw;
    background-color: #696A6A;
    overflow: hidden;
}
.modal-video {
    width: 100%;
}
/*비디오 컨트롤 영역*/
.video-right-container {
    margin-top: .7vw;
    width: 3.3vw;
    height: 7vw;

    display: grid; /*바둑판으로 칸 나누기*/
    grid-template-columns: repeat(2, 1fr); /*가로 4칸 간격은 1fr로 일정*/
    grid-template-rows: repeat(3, 1fr); /*세로 3칸 간격은 1fr로 일정*/
    align-items: center;
}
.video-right-container>p {
    height: 1vw;
    text-align: center;
    font-size: .8vw;
    margin: .2vw .4vw;
}
.video-play-box>button {
    width: 1.7vw;
    height: 3vw;
    cursor: pointer;
}
.video-control-box>button {
    width: 1.7vw;
    height: 1.2vw;
    cursor: pointer;
}
/*사용자 정보, 내용 영역*/
.video-info {
    margin: .2vw 0;
    display: flex;
}
.video-info>div {
    padding-right: 1vw;
}
.video-content {
    height: 26%;
    margin-bottom: 1vw;
}
.video-content>textarea {
    width: 35vw;
    height: 8.3vw;
    padding: 0.2vw 0.5vw 0 0;
    resize: none; /*박스 크기조절 불가*/
    line-height: 1.4vw; /*상하 줄간격*/

    border: none;
    background-color: #282828;
    color: white;
}
.video-content>textarea:focus {
    outline: none; /*글상자 클릭시 테두리효과 제거*/
}