body {
    /*background: #c6dff5; */ /* #8eb3d4*/
    /*background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);*/
    background: linear-gradient(70deg, rgba(132, 204, 222, 0.76), #eee5ca);
    font-family: "Roboto";
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}
.container {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 240px);
    left: calc(40% - 160px);
    border-radius: 15px 15px 15px 15px;
}
.c1 {
    box-shadow: 0 0 10px grey;
    background-color: white;
    width: 300px;
    height: 500px;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
}

.c11 {
    background-image: url("https://i.pinimg.com/736x/b8/09/22/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg");
    background-size: 300px 400px;
    background-repeat: no-repeat;
    background-color: white;
    width: 300px;
    height: 400px;
    display: inline-block;
    position: absolute;
    z-index: 4;
    border-radius: 15px 15px 200px 200px;
}
#left,
#right {
    color: white;
    display: inline-block;
    width: 146px;
    height: 500px;
    background-color: white;
    cursor: pointer;
}
#left {
    border-radius: 15px 0px 0px 15px;
}
#right {
    border-radius: 15px 15px 15px 0px;
}
.left_hover {
    color: #748194;
    box-shadow: 5px 0 18px -10px #333;
    z-index: 1;
    position: absolute;
}
.right_hover {
    box-shadow: -5px 0 15px -10px #333;
    z-index: 1;
    position: absolute;
}
.s1class {
    color: #748194;
    position: absolute;
    bottom: 0;
    left: 63%;
    margin-left: -50%;
}
.s1class span,
.s2class span {
    display: block;
}
.su {
    font-size: 20px;
}
.s2class {
    color: #748194;
    position: absolute;
    bottom: 0;
    right: 63%;
    margin-right: -50%;
}
.mainhead {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}
.mainp {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}
.c2 {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    position: absolute;
    left: 370px;
    display: inline-block;
}
.username {
    font-weight: bold;
    width: 200px;
    margin: 17px 35px 0;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f6f7f9;
    color: #748194;
    font-size: 14px;
}
.btn {
    font-weight: bold;
    width: 230px;
    margin: 20px 35px 0;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #537ac9;
    color: white;
    font-size: 14px;
}
.signup1 {
    color: #748194;
    font-size: 30px;
    text-align: center;
}
a {
    text-decoration: none;
}
.signup2 {
    color: #537ac9;
    font-size: 20px;
    text-align: center;
}
.signup {
    display: initial;
}
.signin {
    display: initial;
}

.warningMsg{
    font-size: 8px;
    color: red;
    padding-left: 50px;
}

.alert-danger{
    margin: 15px;
    margin-top: 35px;
    font-size: 14px;
    background: pink;
    color: red;
    font-weight: bold;
    padding-left: 50px;
    border-radius: 5px;
}

.successMsg{ /* 회원가입 성공 msg */
    margin: 15px;
    margin-top: 35px;
    font-size: 14px;
    background: lightskyblue;
    color: blue;
    font-weight: bold;
    padding-left: 45px;
    border-radius: 5px;
}

#username{
    margin-top: -10px;
}

.Login-danger{ /* 로그인 에러 메세지 */
    margin: 15px;
    margin-top: 35px;
    font-size: 14px;
    background: pink;
    color: red;
    font-weight: bold;
    padding-left: 25px;
    border-radius: 5px;
}
.LoginSuccessMsg{ /* 로그인 성공 msg */
    margin: 15px;
    margin-top: 35px;
    font-size: 14px;
    background: lightskyblue;
    color: blue;
    font-weight: bold;
    padding-left: 30px;
    border-radius: 5px;
}