body {
    /*background: #c6dff5; */ /* #8eb3d4*/
    /*background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);*/
    background: linear-gradient(70deg, rgba(132, 204, 222, 0.76), #eee5ca);
    font-family: "Roboto";
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}

.menu {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 460px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.icon {
    flex-basis: 25%;
}

.m1 {
    /*box-shadow: 0 0 10px rgba(195, 250, 245, 0.87);*/
    box-shadow: 0 0 3px antiquewhite;
    background-color: rgba(213, 237, 255, 0.78);
    width: 1000px;
    height: 65px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}

.m11 {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: .25rem;
    padding: .8rem 5.57rem;
    text-decoration: none;
    font-weight: bold;
    color: rgba(175, 209, 250, 0.78);
}

.m11:hover {
    color: rgba(98,150,241,0.87);
}

.container {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 376px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}

.c1 {
    font-size: 20px;
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 980px;
    height: 770px;
    border: 10px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}

/*문의 목록 스타일*/
.queries {
    margin: 5px;
    width: 950px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 6px;
}

/*label 테두리 스타일*/
.label {
    background-color: rgba(213, 237, 255, 0.78);
    border: 4px solid rgba(191, 223, 252, 0.71);
}

/*label과 문의내용 간격 맞추기*/
.queries-items {
    margin-left: 9px;
}

/* label 가로간격 설정 */
.query-number {width: 40px;}
.query-type {width: 90px;}
.query-name {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.enquirer {width: 80px;}
.query-date {width: 100px;}
.query-status {width: 75px;}
.public-private {width: 75px;}
.line {
    height: 23px;
    border-right: 1.5px solid rgba(176, 217, 250, 0.78);
}