/* 3D Button */
.btn-3d {
	position: relative;
	display: inline-block;
	font-size: 15px;
	padding: 10px 12px;
	color: white;
	margin: 40px 50em 10px;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
}
.btn-3d.blue:hover   {background-color: #699DD1;}
.btn-3d.cyan:hover   {background-color: #82D1E3;}

.btn-3d:active {
	top: 9px;
}
.btn-3d.blue {
	background-color: #6DA2D9;
	box-shadow: 0 0 0 1px #6698cb inset,
	0 0 0 2px rgba(255,255,255,0.15) inset,
	0 8px 0 0 rgba(110, 164, 219, .7),
	0 8px 0 1px rgba(0,0,0,.4),
	0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
	box-shadow: 0 0 0 1px #6191C2 inset,
	0 0 0 2px rgba(255,255,255,0.15) inset,
	0 0 0 1px rgba(0,0,0,0.4);
}
.color .blue   {background: #6698cb;}