body {
    /*background: #c6dff5; */ /* #8eb3d4*/
    /*background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);*/
    background: linear-gradient(70deg, rgba(132, 204, 222, 0.76), #eee5ca);
    font-family: "Roboto";
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}

.menu {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 460px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li.icon {
    flex-basis: 25%;
}
.m1 {
    /*box-shadow: 0 0 10px rgba(195, 250, 245, 0.87);*/
    box-shadow: 0 0 3px antiquewhite;
    background-color: rgba(213, 237, 255, 0.78);
    width: 1000px;
    height: 65px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}
.m11 {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: .25rem;
    padding: .8rem 5.57rem;
    text-decoration: none;
    font-weight: bold;
    color: rgba(175, 209, 250, 0.78);
}
.m11:hover {
    color: rgba(98,150,241,0.87);
}

.container {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 360px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}
.container1 {
    /*display: none;*/
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 360px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
    margin-left : 780px;
}
.c1 {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 770px; /* 980 */
    height: 580px; /*760px*/
    border: 10px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}
.c2 {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 200px; /* 980 */
    height: 580px;
    border: 10px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}
.items {
    display: grid;
    grid-template-columns: repeat(3, 3fr); /* 가로에 몇개 둘껀지 */
    grid-template-rows: repeat(2, 253px); /* 세로로 얼만큼의 간격으로 얼마나 반복할 것인지 */
}
.items1 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(6, 100px);
}
.item {
    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}

.item1 { /* 상자 크기 */
    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}


.item-title {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 34px;
    top: 227px;
    width: 200px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




/* page*/
.dots {
    list-style-type: none;
    background: white;
    -webkit-filter: blur(5px) contrast(10);
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: -10px;
    padding-right: 10px;
    /*position: relative;*/
    left: 100px;
    top: 30px;
}
.dot {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: black;
    margin-left: 25px; /* 5px */
    margin-right: 25px; /* 5px */
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 2;
}
.select {
    display: block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: lightskyblue;
    position: absolute;
    z-index: 3;
    top: 14px;
    left: 0;
    pointer-events: none;

    /*추가*/
    margin-left:18px;

}
.btn-lg {
    margin-top: 800px;
    margin-left: 800px;
}
#write-button {
    display: flex;
    background: lightgoldenrodyellow;
    margin-top: 20px;
    padding: 15px;
    position: absolute;
    top: 780px;
    left: 1290px;
    border:lightskyblue;
    border-radius: 10px 10px 10px 10px;
    color: black;
}