body {
    /*background: #c6dff5; */ /* #8eb3d4*/
    /*background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);*/
    background: linear-gradient(70deg, rgba(132, 204, 222, 0.76), #eee5ca);
    font-family: "Roboto";
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}

.menu {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 460px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li.icon {
    flex-basis: 25%;
}
.m1 {
    /*box-shadow: 0 0 10px rgba(195, 250, 245, 0.87);*/
    box-shadow: 0 0 3px antiquewhite;
    background-color: rgba(213, 237, 255, 0.78);
    width: 1000px;
    height: 65px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}
.m11 {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: .25rem;
    padding: .8rem 5.57rem;
    text-decoration: none;
    font-weight: bold;
    color: rgba(175, 209, 250, 0.78);
}
.m11:hover {
    color: rgba(98,150,241,0.87);
}

.container {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 360px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}
.c1 {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 980px;
    height: 770px;
    border: 10px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}
.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 253px);
}
.item {
    margin: auto;
    margin-top: 13px;
    width: 200px;
    height: 190px;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    cursor: pointer;
}
.item-title {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 3px;
    top: 195px;
    width: 200px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-title:visited {
    color: mediumpurple;
}
.item-title:hover {
    color: blue;
}
.paging_right_button {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% + 530px);
}
.paging_right_button > img {
    width: 50px;
}
.paging_right_button > img:hover {
    cursor: pointer;
}
.paging_left_button {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 570px);
}
.paging_left_button > img {
    width: 50px;
}
.paging_left_button > img:hover {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 900px; /* Could be more or less, depending on screen size */
    height: 700px;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}