body {
    /*background: #c6dff5; */ /* #8eb3d4*/
    /*background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);*/
    background: linear-gradient(70deg, rgba(132, 204, 222, 0.76), #eee5ca);
    font-family: "Roboto";
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #748194;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #748194;
}

.menu {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 460px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.icon {
    flex-basis: 25%;
}

/*메뉴박스 스타일*/
.m1 {
    /*box-shadow: 0 0 10px rgba(195, 250, 245, 0.87);*/
    box-shadow: 0 0 3px antiquewhite;
    background-color: rgba(213, 237, 255, 0.78);
    width: 1000px;
    height: 65px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}

/*메뉴 글씨 스타일*/
.m11 {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: .25rem;
    padding: .8rem 5.57rem;
    text-decoration: none;
    font-weight: bold;
    color: rgba(175, 209, 250, 0.78);
}

.m11:hover {
    color: rgba(98,150,241,0.87);
}

.container {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 376px);
    left: calc(50% - 500px);
    border-radius: 7px 7px 7px 7px;
}

.c1 {
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 980px;
    height: 770px;
    border: 10px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 253px);
}

.item {
    margin: auto;
    margin-top: 13px;
    width: 200px;
    height: 190px;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    cursor: pointer;
}

.item-title {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 3px;
    top: 195px;
    width: 200px;
    height: 37px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-title:hover {
    color: blue;
}

.paging-right-button {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% + 530px);
}

.paging-right-button > img {
    width: 50px;
}

.paging-right-button > img:hover {
    cursor: pointer;
}

.paging-left-button {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 570px);
}

.paging-left-button > img {
    width: 50px;
}

.paging-left-button > img:hover {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 900px; /* Could be more or less, depending on screen size */
    height: 700px;
    border-radius: 10px;
}

.modal-content > img {
    display: block;
    margin: auto;
    max-width: 800px;
    max-height: 560px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-button {
    display: none;
}

.upload-button-item {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    border: none;
    width: 120px;
    height: 40px;
    top: calc(50% + 411px);
    left: calc(50% + 380px);
    color: rgba(98,150,241,0.87);
    background-color: rgba(213, 237, 255, 0.78);
    border-radius: 0 0 7px 7px;
    box-shadow: 3px 3px 3px antiquewhite;
}
.upload-button-item:hover {
    cursor: pointer;
}

.upload {
    display: none;
    position: absolute;
    top: calc(50% - 376px);
    left: calc(50% - 500px);
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    width: 980px;
    height: 770px;
    border: 10px solid #D5EDFFC6;
    border-radius: 5px 5px 5px 5px;
}

.upload-container {
    margin: auto;
    width: 430px;
}

.upload-box {
    width: auto;
    height: 390px;
    display: block;
    margin: 15px auto;
    border: 10px solid #D5EDFFC6;
    box-shadow: 0 0 10px antiquewhite;
    background-color: rgba(255, 255, 255, 0.39);
}

.upload-title-content {
    font-size: 17px;
    width: 416px;
    height: 30px;
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    border: 7px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    margin-bottom: 3px;
}

.upload-content-content {
    margin: 6px auto;
    /*margin-top: 9px;*/
    font-size: 17px;
    width: 416px;
    height: 100px;
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    border: 7px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    resize: none;
    outline: none;
}

.upload-tag-content {
    font-size: 17px;
    width: 416px;
    height: 30px;
    box-shadow: 0 0 5px antiquewhite;
    background-color: rgba(255, 255, 255, 0.5);
    border: 7px solid #D5EDFFC6;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    outline: none;
}

.button-box {
    display: flex;
    position: relative;
    margin: 10px 55px;
}

.check-button {
    color: rgba(4, 16, 185, 0.75);
    cursor: pointer;
    font-size: 21px;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border: 3px solid rgba(175, 209, 250, 0.78);
    background-color: #D5EDFFC6;
    border-radius: 10px;
}
.check-button:hover {
    border: 3px solid rgba(175, 209, 250, 0.78);
    background-color: rgba(175, 209, 250, 0.78);
}
.public-private-box {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.public-button {
    display: block;
}
.private-button {
    display: block;
}